PROJECT_NAME=myproject
PROMTAIL_PORT=9080
NODE_EXPORTER_PORT=9100
CADVISOR_PORT=8181
NGINX_EXPORTER_PORT=9113
NGINX_STATUS_HOST=127.0.0.1
NGINX_STATUS_PORT=80
APACHE_EXPORTER_PORT=9117
APACHE_STATUS_HOST=127.0.0.1
APACHE_STATUS_PORT=80